body {
  background-color: white;

  color: black;
  font-size: 16px;
  line-height: 1.5;
}

.navbar {
  background-color: black;
  color: white;
  height: 60px;
}

.navbar.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-top: 1%;
}

.navbar ul li {
  margin-left: 20px;tex
}

.navbar .logo{
    font-size: x-large;
    font-weight: bold;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

}

.navbar a:hover {
    border: bottom 2px; white;
    color: white;

}
 button {
    padding: 5px 18px;
 }
 .title {
  text-align: center;
}
.team .member {
  display: flex;
  align-items: center;  /* 사진과 텍스트를 수직 가운데 정렬 */
  margin-bottom: 20px;
}

.team .member img {
  margin-right: 20px;  /* 이미지와 정보 사이의 간격 조정 */
}

.team .info {
  font-size: 18px;
}
